<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js'></script>
</head>
<body>

 

  <div id = "gameList" style= "border: solid">
      <% for (let game in game_data) { %>
      <button  class="game" value=<%= game %> ><%= game %></button>
      <% } %>
  </div>
  <br>
  <input id="assignRoomName" placeholder="Your room name here"/>
  <button id="createBtn">Start a room</button>
 
  <ul id="roomList" style="border: solid">


    <% for (key in room_data) { %>
      <button  value=<%= key %> class="createdRooms"><%= key %></button>
    <% } %>
  </ul>

  <div id="logs" style="border: solid; background-color: yellow">
    <br/>
    <br/>
  </div>
  

  <script src='/public/roomCreate.js'></script>
</body>
</html>